*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
span{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
body{
  background-color: whitesmoke;
}
.universal_container{
  width: 100%;
  max-width: 90%;
  min-width: 90%;
  margin-inline: auto;
}
.nav_wrapper{
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.066);
padding: 8px 0px;
 position: relative;
 z-index: 99;
}
.nav_logo_wrapper{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav_logo_wrapper img{
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 70px;
  object-fit: contain;
}
.nav_links_wrapper_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav_links_wrapper{
  display:flex;
  justify-content:space-between ;
  align-items: center;
  column-gap: 70px;
}
.nav_links_wrapper a{
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s linear all;
  text-decoration: none;
  color: black;
}
.nav_links_wrapper .active{
  color: rgb(79, 93, 228);
}
.nav_links_wrapper a:hover {
  color: rgb(79, 93, 228);
}
.maginfy_wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 18px;
}
.maginfy_wrapper i{
  font-size: 18px;
}
.call_for_questions{
  width: fit-content;
  padding: 0px 50px 0px 15px;
  height: 85px;
  background-color: rgb(79, 93, 228);
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}
.call_questions_wrapper h5{
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.call_questions_wrapper p{
  color: white;
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.call_circle{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_circle i{
  color: rgb(79, 93, 228);
  font-size: 30px;
}
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {

position: relative;
background:linear-gradient(#2a254d,#2a254d), url('./assets/images/shapes/footer-bg-2.png');
background-position: top left;
background-repeat: no-repeat;

}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: rgb(169, 164, 208);
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: rgb(169, 164, 208);
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li{
  display: block !important;
  width: auto !important;
}
.footer-widget ul li .footer_link {
color: rgb(169, 164, 208);
text-transform: capitalize;
list-style: none;
text-decoration: none;

}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: rgb(32, 25, 67);
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: rgb(169, 164, 208);
}
.copyright-text p a{
color: rgb(169, 164, 208);
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: rgb(169, 164, 208);
}
